@import "variable", "reset"; 


// 추가 커스터마이징 스타일을 여기에 추가합니다.

// 폰트 적용 클래스
.roboto-font {
  font-family: 'Roboto', sans-serif; /* WebFontLoader로 불러온 Roboto 폰트 적용 */
}

.noto-font {
  font-family: 'Noto Sans KR', sans-serif; /* WebFontLoader로 불러온 Noto Sans KR 폰트 적용 */
  font-weight: 300;
}



// 레이아웃 스타일
.v-container {
  padding: 80px 20px;

  section{
    margin-bottom: 70px;
  }
  
  h1{
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin: 70px 0 60px;
  }   

  h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h2+p{
    margin-bottom: 30px;
  }

  p{
    margin-bottom: 70px;
  }

  .btn-group{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
    .v-btn{
      font-size: 1.4rem;
    }
  }
}


// Reset CSS 적용
pre {
  white-space: pre-wrap;
  background-color: #f0f0f0;
  padding: 30px 20px;
  margin-bottom: 70px;
  border-radius: 10px;

  code {
    font-family: 'Courier New', Courier, monospace;
  }
}


// Header 스타일
#header{ 

  .v-navigation-drawer__scrim{
    position: fixed;
  }

  .v-list-item--density-default.v-list-item--one-line{
    min-height: 40px;
  }

  // 로고
  .logo{
    font-size: 2.4rem; 
  }

  // Sidebar 스타일
  .v-navigation-drawer{
    h2{
      font-size: 2.7rem; 
      font-weight: 700;
      text-align: center;
      padding: 30px 0 0;
    }  

    .v-list{
      margin-top: 10px;
    }
  }

  // 모바일 버튼
  .v-app-bar-nav-icon{
    i{
      font-size: 2rem;
    }
  }

  .v-app-bar-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
  }

  // 메뉴 활성화 스타일 
  .gnb{
    a.router-link-exact-active {
      color: #1b7cfa;
    }
  } 

}


// ::::::::::::::::::::::::::::::::: 미디어 쿼리 시작 :::::::::::::::::::::::::::::::::
@media (max-width: 959px) {

}